*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #cccccc;
}

Body {
  font-family: 'Lato', sans-serif;
}

/* frankie's feast banner */

.textbox {
  text-align: center;
  padding: 3%;
  min-height: 50vh;
  font-weight: 900;
  font-size: 3rem;
}

.tagline {
  font-weight: 400;
  font-size: 1rem;
}

/* featured posts section */


  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* explore more section */

.explore-recipes {
  background-image: url(../images/placeholder2.jpg);
  background-size: cover;
  min-height: 50vh;
  text-align: contain;
  border: 20px solid white;
}

.explore-travel {
  background-image: url(../images/placeholder.jpg);
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  border: 20px solid white;
}

.explore-favourites {
  background-image: url(../images/placeholder3.jpg);
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  border: 20px solid white;
}
