*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}

Body {
  font-family: 'Work Sans', sans-serif;
}

/* navigation bar */

nav {
  position: fixed;
}

/* social icon styling */

.icon {
  width: 30px;
  height: auto;
}

/* frankie's feast banner */

.textbox {
  text-align: center;
  padding: 3%;
  min-height: 50vh;
  font-weight: 800;
  font-size: 3rem;
  color: #98FB98;
}

.tagline {
  font-weight: 300;
  font-size: 1rem;
  color: #aaaaaa;
  margin-top: 0px;
}

/* featured posts section */


  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* explore more section */

.explore-recipes {
  background-image: url(../images/recipes.jpg);
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  border: 20px solid white;
}

.explore-travel {
  background-image: url(../images/placeholder.jpg);
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  border: 20px solid white;
}

.explore-favourites {
  background-image: url(../images/favourites.jpg);
  background-size: cover;
  min-height: 50vh;
  text-align: center;
  border: 20px solid white;
}
