*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(245,245,245); */
}

/* gridlex reset */
[class*=grid-], [class*=grid_], [class~=grid]{
  margin: 0;
}

img {
  max-width:100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

section, footer {padding: 5% 2%;}

h3{
  color: #6B717E;
  font-size: 2rem;
  font-weight: 400;
}

/* utility classes */
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right;}

.padded-1 { padding: 1%; }
.padded-2 { padding: 2%; }
.padded-3 { padding: 3%; }
.padded-none { padding: 0; }
.padded-right {padding-right: 10%;}
.padded-none-top {padding-top: 0;}

.white {
  color: white;
}

/* .capped-width {
  max-width: 1300px;
  margin: auto;
} */
/* .relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.3);
} */

/* .radial-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(#344055, rgba(255, 255, 255, 0));

} */

.button {
  border: 1px solid #6B717E;
  padding: .3rem;
  border-radius: 2px;
}

/* navigation bar */

header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(245,245,245);
  z-index: 2;
}

header nav a {
  vertical-align: middle;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-hamburger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background-color: white;
  padding: 16px;
  visibility: hidden;
}

.header-hamburger p {
  margin: 0;
  font-weight: 800;
  color: #93E5AB;
  font-size: 1.25rem;
  text-align: left;
  line-height: 1;
}

.header-hamburger p span {
  font-size: 0.75rem;
  color: #6B717E;
  font-weight: 300;
}

.header-hamburger img,
.mobile-menu img {
  width: 36px;
  height: 36px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100vh;
  z-index: 10;
  transition: all .50s ease-in-out;
  visibility: hidden;
}

.mobile-menu img {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu nav {
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #93E5AB;
  align-items: center;
  display: flex;
  justify-content: center;
}

body.menu-visible .mobile-menu {
  right: 0;
}

body.menu-hidden .mobile-menu {
  right: -200px;
}

.mobile-menu a {
  padding: 1rem;
}

@media (max-width: 1024px) {
  header {
    display: none;
  }
  .header-hamburger,
  .mobile-menu {
    visibility: visible;
  }
}

/* social icon styling */

.icon {
  width: 30px;
  height: auto;
}

/* frankie's feast banner */

.textbox{
  text-align: center;
  padding: 3%;
  min-height: 30vh;
}

.banner-h3 {
  font-weight: 800;
  font-size: 5rem;
  color: #93E5AB;
  margin-top: 10%;
}

.banner-h2 {
  font-weight: 300;
  font-size: 1rem;
  color: #6B717E;
  margin-top: 0px;
}

hr {
  display: block;
    margin-top: 1em;
    margin-bottom: 3.5em;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    border-bottom: 2px solid #93E5AB;
}

@media (max-width: 1024px) {
  .banner {
    display: none;
  }
}

/* featured posts section */

/* sidebar */
.sidebar {
  background-color: grey;
  padding: 5%;
  height: 700px;
}

  /* Container holding the image and the text */
.container {
    position: relative;
    color: white;
    padding: 0.5rem;
}

.home-first-container {
  padding-top: 0;
}

  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right:0.5rem;
    padding: 5rem 1rem 1rem;
    background-image: linear-gradient( rgba(255,255,255,0),#344055);
}



/* explore more section */

.explore {
  background-size: cover;
  min-height: 28vw;
  text-align: center;
  border: 1vw solid white;
  color: black;
}

.explore-recipes {
  background-image: url(../images/recipes.jpg);

}

.explore-travel {
  background-image: url(../images/placeholder.jpg);
}

.explore-favourites {
  background-image: url(../images/favourites.jpg);
}

/* blog posts */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
} */

html {
  font-size: 16px;
  color: rgb(60,60,60);
}


 /* Typography */
h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  margin: 0.3em 0;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #6B717E;
}

h1 {  font-size: 2.3rem; }
h2 {  font-size: 2rem; }
h3 {  font-size: 1.8rem; }
h4 {  font-size: 1.6rem; }
h5 {  font-size: 1.4rem; }
h6 {  font-size: 1.3rem; }

.categories-typography {
  font-size: 1rem;
  color: #6B717E;
  font-style: italic;
}

p {
  line-height: 1.5;
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

/* blockquote {
  line-height: 1.4;
  font-size: 1.8rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: rgb(150,150,150);
  padding-left: 2.5rem;
} */

ul, ol {
  list-style-position: inside;
}

li {
  line-height: 1.4;
  font-size: 1.1rem;
  margin: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  /* border-bottom: 1px solid rgb(60,60,60); */
  padding: 2px;
  transition: all 0.3s;
}

a:hover {
  color: #93E5AB;
  border-bottom: 1px solid #93E5AB;
}

/* Blog post specific */
.blog-post {
  max-width: 1200px;
  margin: auto;
  padding: 1% 3%;
}

.blog-post img {
  margin: 2rem auto;
  max-width: 100%;
  display: block
}
.post-info {
  color: #6B717E;
  font-size: 1rem;
}

/* contact form */

.contact-form form * {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom:0;
  padding: 12px 8px;
  border-radius: 8px;
  border-color: #6B717E;
  font-size: 0.8rem;
}

.contact-form button {
  background-color: #93E5AB;
  border-color: #93E5AB;
  color: white;
}
/* footer */
footer {
  background-color: #6B717E;

}
