---
layout: default
title: frankie's feast
---

<!-- - - - featured area- - -  -->
<section class="grid">
  <div class="col-8">
    <!-- - - - featured posts - - - -->
    {% include featured-posts.html %}
  </div>

  <div class="col-4">
    <!-- - - - sidebar - - - -->
    {% include sidebar.html %}
  </div>
</section>

  <!-- - - - Explore More - - - -->
<section class="show-me">
  <h3 class="center padded-3">explore more</h3>

  <div class="grid-middle-center">

    <a class="col-4 grid-middle-center explore-recipes explore" href="/recipes">
      <h2 class="col-12">recipes</h2>
    </a>

    <a class="col-4 grid-middle-center explore explore-travel" href="/travel">
      <h2 class="col-12">travel
        <!-- <div class="radial-overlay"></div> -->
      </h2>
    </a>

    <a class="col-4 grid-middle-center explore explore-favourites" href="/favourites">
      <h2 class="col-12">frankie's
      <br>favourites
        <!-- <div class="radial-overlay"></div> -->
      </h2>
    </a>
  </div>
</section>
