<section class="show-me padded-none">
  <h3 class="center padded-3">explore more</h3>

  <div class="grid-middle-center">

    <a class="col-4_sm-12 grid-middle-center explore-recipes explore" href="/recipes">
      <h2 class="col-12 white">recipes</h2>
    </a>

    <a class="col-4_sm-12 grid-middle-center explore explore-travel" href="/travel">
      <h2 class="col-12 white">travel
        <!-- <div class="radial-overlay"></div> -->
      </h2>
    </a>

    <a class="col-4_sm-12 grid-middle-center explore explore-favourites" href="/favourites">
      <h2 class="col-12 white">frankie's
      <br>favourites
      </h2>
    </a>
  </div>
</section>
