<section class="show-me">
  <h3 class="center padded-3">explore more</h3>

  <div class="grid-middle-center">

    <a class="col-4_sm-12 relative grid-middle-center explore-recipes explore" href="/recipes">
      <div class="overlay">
      </div>
      <h2 class="col-12">recipes</h2>
    </a>

    <a class="col-4_sm-12 relative grid-middle-center explore explore-travel" href="/travel">
      <div class="overlay">
      </div>
      <h2 class="col-12">travel
        <!-- <div class="radial-overlay"></div> -->
      </h2>
    </a>

    <a class="col-4_sm-12 relative grid-middle-center explore explore-favourites" href="/favourites">
      <div class="overlay">
      </div>
      <h2 class="col-12">frankie's
      <br>favourites
      </h2>
    </a>
  </div>
</section>
