<section>
  <h3>featured posts</h3>


    <!-- sort/filter function goes here -->
    {% for post in site.posts limit:1 %}
    <div class="container capped-width">
      <a href="{{post.url}}">
        <img src="{{post.featured_image}}" alt="{{post.title}}">
        <div class="bottom-left">
          <h3>{{post.categories}}</h3>
          <h2>{{post.title}}</h2>
        </div>
      </a>
    </div>
    {% endfor %}

    <div class="grid">
      {% for post in site.posts limit:2 offset:1 %}
      <div class="container col-6">
        <a href="{{post.url}}">
          <img src="{{post.featured_image}}" alt="{{post.title}}">
          <div class="bottom-left">
            <h3>{{post.categories}}</h3>
            <h2>{{post.title}}</h2>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>

</section>
