
<header>
  <nav>
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/category-landing-page">recipes</a>
    <a href="/category-landing-page">travels</a>
    <a href="/category-landing-page">frankie's favourites</a>
   </nav>

   <!-- subscribe -->
    subscribe input

   <!-- social icons     -->
    <a href="https://www.instagram.com/frankiesfeast/"><img src="images/instagramicon.png"></a>
    <a href="https://https://www.facebook.com/frankiesfeast/"><img src="images/facebookicon.png"></a>
    <a href="https://www.pinterest.com/frankiesfeast/"><img src="images/pinteresticon.png"></a>

    <!-- search bar -->
    search bar
</header>
