
<header>


  <nav class="grid-middle">
    <div class="col-6 padded-1">
      <a href="/">home</i></a>
      <a href="/about">about</a>
      <a href="/recipes">recipes</a>
      <a href="/travel">travels</a>
      <a href="/favourites">frankie's favourites</a>
    </div>

    <div class="col-6 padded-1 right">
      <!-- subscribe -->
      subscribe input

      <!-- social icons     -->

      {% include social-icons.html %}


      <!-- search bar -->
      search bar
    </div>
  </nav>
</header>

<div class="header-hamburger">
  <p>frankie's feast <br>
    <span> vegetarian recipes and travels</span></p>
  <img class="toggle-menu" src="/images/hamburger.svg">
</div>

<div class="mobile-menu">
    <img class="toggle-menu" src="/images/close.svg">
  <nav>
    <a href="/">home</i></a>
    <a href="/about">about</a>
    <a href="/recipes">recipes</a>
    <a href="/travel">travels</a>
    <a href="/favourites">frankie's favourites</a>
  </nav>
</div>
