
<header>


  <nav class="grid-middle">
    <div class="col-6 padded-1">
      <a href="/"><i class="fas fa-home"></i></a>
      <a href="/about">about</a>
      <a href="/recipes">recipes</a>
      <a href="/travel">travels</a>
      <a href="/favourites">frankie's favourites</a>
    </div>

    <div class="col-6 padded-1 right">
      <!-- subscribe -->
      subscribe input

      <!-- social icons     -->
      <a href="https://www.instagram.com/frankiesfeast/"><img class="icon" src="images/instagramicon.png"></a>
      <a href="https://https://www.facebook.com/frankiesfeast/"><img class="icon" src="images/facebookicon.png"></a>
      <a href="https://www.pinterest.com/frankiesfeast/"><img class="icon" src="images/pinteresticon.png"></a>

      <!-- search bar -->
      search bar
    </div>
  </nav>
</header>
