
<section class="recipe-typography">
  <div class="grid">
    <div class="col-7">
      <h2>{{page.title}}</h2>
      <h4>prep time <span> {{page.recipes.hands-on-time}} </span></h4>
      <h4>total time <span>  {{page.recipes.total-time}}</span></h4>
      <h4>serves <span> {{page.recipes.serves}} </span></h4>
      <h4>description<span> {{page.recipes.description}} </span></h4>
      <p>{{page.recipes.description}}</p>
    </div>

    <div class="col-5">
      <img src="{{page.featured_image}}">
    </div>

  </div>



    <div class="grid">
      <div class="col-4">
        <h3>ingredients</h3>
          {{ page.recipes.ingredients_markdown | markdownify }}
      </div>

      <div class="col-8">
        <h3>method</h3>

          {{ page.recipes.method_markdown | markdownify }}

        <h3>notes</h3>

          {{ page.recipes.notes_markdown | markdownify }}

      </div>
  </div>
</section>


<!--
<section>
  <h2>recipe title</h2>
  image?

  <div class="grid">
    <div class="col-4">
      <h3>prep time</h3>
    </div>
    <div class="col-4">
      <h3>total time</h3>
    </div>
    <div class="col-4">
      <h3>serves</h3>
    </div>
  <h3>description</h3>
    <p>this recipe is really easy and it's vegan</p>
  <div class="grid">
    <div class="col-4">
      <h3>ingredients</h3>
        <h4>sometimes the ingredients might be broken down</h4>
          <ul>
            <li>ingredient 1</li>
            <li>ingredient 2</li>
          </ul>
    </div>

    <div class="col-8">
      <h3>method</h3>
        <ol>
          <li>step 1</li>
          <li>step 2</li>
        </ol>

      <h3>notes</h3>
    </div>

</section> -->
