<div class="sidebar container center show-me">

  {% include social-icons.html %}

  {% include subscribe-form.html %}

  <div>
    <h3>popular posts</h3>
    <div class="container">
      <a class="left" href="#">
        <img src="/images/recipes.jpg"alt="post.title">
        <div class="bottom-left">
          <h3 class="white">recipes</h3>
          <h2 class="white">post title</h2>
        </div>
      </a>
    </div>

    <div class="container">
      <a class="left" href="#">
        <img src="/images/favourites.jpg" alt="post.title">
        <div class="bottom-left">
          <h3 class="white">favourites</h3>
          <h2 class="white">post title</h2>
        </div>
      </a>
    </div>

  </div>
</div>
