<div class="sidebar container center">

  {% include social-icons.html %}

  {% include subscribe-form.html %}

  <div>
    <h3>popular posts</h3>
    <div class="container">
      <a class="block sidebar-image left" href="#" style="background-image:url('/images/recipes.jpg');">
        <div class="gradient-text">
          <h3 class="white">travel</h3>
          <h2 class="white">post title</h2>
        </div>
      </a>
    </div>

    <div class="container">
      <a class="block sidebar-image left" href="#" style="background-image:url('/images/favourites.jpg');">
        <div class="gradient-text">
          <h3 class="white">favourites</h3>
          <h2 class="white">post title</h2>
        </div>
      </a>
    </div>

  </div>
</div>
