---
layout: default
title: Blog
---

<h1 class="center"> {{page.title}}</h1>

<div class="center grid-middle-center">
  <div class="filter col-6 grid-middle">
    <div class="col-7 padded-3">
      <select name="cat" id="cat" class="postform">
      	<option value="-1">BY CATEGORY</option>
      	<option class="level-0" value="5">Breakfast and Brunch</option>
      	<option class="level-0" value="7">Brownies, Bars, Balls and Slices</option>
      	<option class="level-0" value="8">Cakes, Cookies and Cupcakes</option>
      	<option class="level-0" value="11">Desserts</option>
      	<option class="level-0" value="242">Drinks</option>
      	<option class="level-0" value="12">Frankie’s Features</option>
      	<option class="level-0" value="13">Ice Cream</option>
      	<option class="level-0" value="15">Mains</option>
      	<option class="level-0" value="16">Raw</option>
      	<option class="level-0" value="224">Recipe</option>
      	<option class="level-0" value="17">Salads</option>
      	<option class="level-0" value="19">Sauces, Seasonings, Spreads and Condiments</option>
      	<option class="level-0" value="252">Thermomix</option>
      	<option class="level-0" value="23">Vegan</option>
      	<option class="level-0" value="24">Vegetarian</option>
      </select>
    </div>
    <div class="col-5 padded-3">
      <!-- search bar -->
      <a href="/search">search <i class="fas fa-search"></i></a>
    </div>
  </div>
</div>

<div class="grid padded-3 show-me">
{% for post in paginator.posts %}
  <div class="col-4_sm-6_xs-12 container">
    <a class="block" href="{{post.url}}" style="background-image:url({{post.featured_image}});">
      <div class="gradient-text">
        <h2 class="white">{{post.title}}</h2>
      </div>
    </a>
  </div>

{% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="center">
  {% if paginator.previous_page %}
    <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>

  {% endif %}
  {% if paginator.next_page %}
    <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
</div>
{% endif %}
</div>
