<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- meta -->
    <meta charset="utf-8">
    <title> {{page.title}} </title>
    <!-- the below makes website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

  <!-- CSS --> <!-- normalize always first to reset-->
    <link rel="stylesheet" href="/css/gridlex.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,800">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <!-- All third party above this line -->
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>

    {% include frankies-feast-banner.html %}

    {% include navigation.html %}



    {{content}}

    {% include instagram.html %}

    {% include footer.html %}

  </body>
</html>
