---
layout: default
title: Title
comments: true
permalink: /:year/:month/:day/:title
---



<section class="grid">

  <div class="col-8_sm-12">
    <h1> {{page.title}} </h1>
    <h3 class="categories-typography"> {{page.categories}}</h3>
    <p class="post-meta">{{page.date | date_to_string }} | Written by {{page.author}}</p>

    <img src="{{page.featured_image}}">

    <!-- social share buttons -->

    {{ content }}

      {% if page.recipe == true %}

      {% include recipe-template.html %}

      {% endif %}


    <!-- recommended posts -->



    {% include comments-form.html %}


  </div>

  <div class="col-4_sm-hidden">
    {% include sidebar.html %}
  </div>

</section>
